*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*  */

.logo{
    width:200px;
    height:40px;
   
}

.contaier{
    margin: 20px;
}

.nav {
    display: flex;
    margin: auto;
    width: 88%;
    justify-content: space-between;
    align-items: center;
    
}
.nav ul li {
 display: inline-block;
 list-style: none;
 font-size: 18px;
 margin: 0 15px;
}
.nav a{ 
    text-decoration: none;
}
.navbtn{
    height:40px;
    width: 170px;
    color: aliceblue;
    background-color: blue;
    border-radius: 10px;
    border-style: none;
   
}
.navlogin{
    height:40px;
    width: 100px;
    color: aliceblue;
    background-color: blue;
    border-radius: 10px;
    border-style: none;
    
}




/* content */

.teks{
    margin-top: 50px;
    margin-left: 50px;
  font-weight: 900;
}

.section{
    margin-top: 50px;
    display: flex;
}
.card1{

    height: 520px;
    width: 370px;
    padding: 30px;
    margin-right: 60px;
    border: 0.0px solid black;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
    border-radius: 10px;
}

.card2{

    height: 520px;
    width: 370px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
    justify-content: center;
}

.card1:hover{
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.281);
}
.card2:hover{
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.281);
}

.btnheader{

    height: 40px;
    width: 170px;
    background-color: rgba(0, 0, 255, 0.836);
    color: aliceblue;
    border-radius: 10px;
    border-style: none;
   
}


/* certifiction */

.certifictae{
    margin-top: 100px;
}

.certificationcard{
    display: flex;
    justify-content: center;
}

.certifictaeheight{
    display: flex;
    text-align: center;
    justify-content: center;
}


/* course */

.course{
    margin-top: 50px;
 display: flex;
  
}
.coursecard1{
   box-shadow: 0 0 5px black;
    padding: 40px;
    margin-left: 30px;
    margin-right: 30px;
    height:400px;
    width: 300px;
}
.coursecard3{
    box-shadow: 0 0 5px black;
     padding: 40px;
     margin-right: 30px;
     height:400px;
     width: 300px;
 }
 .coursecard2{
    box-shadow: 0 0 5px black;
     padding: 40px;
     margin-right: 30px;
     height:400px;
     width: 300px;
 }
 .coursecard4{
    box-shadow: 0 0 10px black;
     padding: 40px;
     margin-right: 20px;
     height:400px;
     width: 300px;
 }

.coursename{

    display: flex;
    text-align: center;
    justify-content: center;
}

.coursecard1:hover,.coursecard2:hover,.coursecard3:hover,.coursecard4:hover{
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.671);
}


/* galary */

.gridcontainer{
    display: grid;
  grid-template-columns: auto auto auto;
    gap:30px;
}


/* footer */

.footercard{
    margin-top: 70px;

    background-color: black;
    color: aliceblue;
    display: flex;
    
}

.footercard1{

height: 400px;
width: 400px;
padding: 30px;

}

.footercard2{

    height: 400px;
    width: 400px;
    padding: 30px;
    
    }

    .footercard3{

        height: 400px;
        width: 400px;
        padding: 30px;
        
   }
     .footercard4{

            height: 400px;
            width: 400px;
            padding: 30px;
            
      }

      .lastline{
        background-color: black;
        color: aliceblue;
        display: flex;
        
      }